@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.advicegenerator {
  background-color: $color-neutral-darkblue;
  height: 100vh;
  text-align: center;

  &__patternDividerMobile {
    width: 100%;
  }

  &__patternDividerDesktop {
    margin-top: 2.5rem !important;
    margin-bottom: 4.5rem !important;
  }

  &__iconDice {
    position: absolute;
    left: 40%;
    background-color: $color-primary-neongreen;
    top: 90%;

    @include isMediaTabletLandscape() {
      left: 45%;
      top: 89%;
    }
  }
}
